*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url();
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff1261;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 50px;
}
.cover{
    background: url('../images/cover.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -moz-background-size:cover;
    background-size: cover;
    height: 80vh;
    margin-top: 100px;

}
.brand-title{
    font-size: 30px;
    margin: .5rem;
    padding: 1rem 7rem;
}
.navbarList{
    margin: 0px;
    padding:.5rem 6rem;
    display: flex;
}
.navbarItem{
    list-style: none;
    padding: 0  8px;

}
.navbarLink{
        text-decoration: none;
        color: white;
        padding: 1rem;
        display: block;
        font-size: 20px;
}
.navbarLink.active{
    color: #c4c2c3;
    border-bottom: 2px solid;
}
.navbarItem:hover{
    background-color: #bd9598;
    transition: .5s;
}

/**.navbarLink.active,.navbarLink:hover{
    background: #1b9bff;
    transition: .5s;
}*/
.toggle-button{
    position: absolute;
    top:1.5rem;
    right: 1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


.navbar.active {
    background-color: #28394d;

}


.navbarLink .scrolling.active {
    color: royalblue;
}

@media (max-width:800px){
    .toggle-button{
        display: flex;
        align-items: center;
    }
    .brand-title{
        font-size: 25px;
        margin: .5rem;
        padding: 1rem 1rem;
    }
    .navLink{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbarList{
        width: 100%;
        flex-direction: column;
    }
    .navbarItem{
        text-align: center;
    }
    .navbarLink{
        padding: .5rem 1rem;
    }
    .navLink.active{
        display:flex;
    }
}
